.checkoutProduct {
    display : flex;
    margin: 20px 8px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__image {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 15px;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: bold;
}

.checkoutProduct__rating {
    display: flex;
    color: gold;
}

.checkoutProduct__increment-decrement-quantity-buttons {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    margin: 3px;
    border-radius: 2px;
}

@media all and (max-width: 425px) {  
    .checkoutProduct {
        display : block;
        margin-left: auto;
        margin-right: auto;
    }

    .checkoutProduct__title {
        margin: 8px 0px;
    }

    .checkoutProduct__image {
        margin-bottom: 0px;
    }

    .checkoutProduct__price {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    
    .checkoutProduct__quantity {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .checkoutProduct__rating {
        display: flex;
        justify-content: center;
    }

    .checkoutProduct__info > button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}