.footer {
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #131921;
    font-weight: bold;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;   
}

.footer__heart {
    color: red;
    margin-right: 5px;
    margin-left: 5px;
}