.order {
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
}

.order__id {
    position: absolute;
    color: goldenrod;
    font-weight: bold;
    top: 40px;
    right: 20px;
}

.order__total {
    font-weight: bold;
    text-align: right;
}

@media all and (max-width: 425px) {  
    .order__id {
        position: initial;
        margin-bottom: 25px;
    }
}